@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
}

body {
    background-color: #fff;
}



#outerwrap {

    width: 100%;
    height: 100%;

    background-image: url(../images/background.png);
    background-repeat: no-repeat;

    background-size: cover;

    position: fixed;
    left: 0;
    top: 0;
}

td > a {
    color: #fff;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(156, 156, 156);
    background-color: #fff;
}

#header {
    height: 184px;
}

#gnbmenu {
    color: #fff;
    background-color: #c81e1e;
    padding: 15px 40px;
    display: block;
}

td {
    padding-right: 10px;
}



#main {
    display: flex;
}

#notice {
    margin: 0 auto;
    padding: 10px;
}

#notice p {
    font-weight: bold;
    color: #cb3333;
    font-size: 18px;
}

h3 {
    font-size: 20px;
}


flower#flower {

    display: flex;
    margin-bottom: 20px;
}

#flower_list {
    display: flex;
}

#flower_list > a {
    display: flex;
}

#call {

    padding: 10px;
}

#call h3 {
    background-color: #dc6767;
    color: #fff;
    padding: 10px;
}

ul {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 13px;
    line-height: 24px;
}

span {
    font-weight: bold;
}

#flower1 {
    border: 1px dotted #000;
    margin: 10px;
    width: 230px;
    height: 180px;
    border-radius: 10px;
    background-image: url(../images/bg1.png);
    background-size: cover;
    background-size: 80%;
    background-repeat: no-repeat;
}

#flower1:hover {
    opacity: 0.7;
}

#flower1:active {
    opacity: 0.5;
}

#flower2 {
    border: 1px dotted #000;
    margin: 10px;
    width: 230px;
    border-radius: 10px;
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-size: 70%;
    background-repeat: no-repeat;


}

#flower2:hover {
    opacity: 0.7;
}

#flower2:active {
    opacity: 0.5;
}

#flower3 {
    border: 1px dotted #000;
    margin: 10px;
    width: 230px;
    border-radius: 10px;
    background-image: url(../images/bg3.png);
    background-size: cover;
    background-size: 70%;
    background-repeat: no-repeat;
}

#flower3:hover {
    opacity: 0.7;
}

#flower3:active {
    opacity: 0.5;
}

#flower h1 {
    color: #c3405c;
    font-size: 26px;
    text-align: right;
    padding: 0px 10px;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: bottom;
}

#flower h4 {
    color: #2d62ff;
    font-size: 16px;
    text-align: right;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7)
}

#lnb {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    font-size: 14px;
}

#copy {
    padding-left: 540px;
}

td:hover {
    opacity: 0.7;
}

td:active {
    opacity: 0.3;
}

footer {
    padding: 10px 0px;
    border-top: 1px solid rgb(156, 156, 156);
}
